## ANOTAÇÕES DE AULA ##

In [7]:
#OPERAÇÕES DE ATRIBUIÇÃO:

for i in range (0, 11 , 2):
    print(i)

0
2
4
6
8
10

In [18]:
soma = 0
for numero in range (1 , 10):
    soma += numero
    print(soma)

1
3
6
10
15
21
28
36
45

In [22]:
sub = 0
for numero in range (1 , 10):
    sub -= numero
    print(sub)

-1
-3
-6
-10
-15
-21
-28
-36
-45

In [1]:
for numero in range (1 , 10):
    print(numero)

1
2
3
4
5
6
7
8
9

In [29]:
for i in range (10 , -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [30]:
for numero in range (1 , 50, 2):
    print(numero)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [34]:
for i in "machine learning":
    print(i)

m
a
c
h
i
n
e

l
e
a
r
n
i
n
g

In [36]:
lista = ["hoje" "é" "dia" "de" "python" "galera"]
for i in lista:
    if i != "galera":
        print(i)